.HomeClass{
  opacity: 0.3;

}
body{
  min-height:100%;
  background:linear-gradient(0deg, rgba(252, 249, 251, 0.3), rgba(247, 244, 245, 0.3)), url("../../media//back.jpg");
  background-size:cover;
}