.prevNextIcon {
  background-color: transparent;
  color: rgb(45, 39, 39);
  width: 3em;
  height: 3em;

}



.flexClass {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  z-index: 3;
  margin-top: 7px;
  align-content: center;
  justify-content: center;
  align-items: center;

}


.visibleClass {
  visibility: visible;
}

.hideClass {
  visibility: hidden;

}

/* //checkBox */

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__icon {
  background-color: #ffca9e;
}
.switch__input:checked + .switch__icon:before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.switch__input:checked + .switch__icon:after {
  transform: translate3d(20px, 2px, 0);
}
.switch__icon {
  position: relative;
  display: inline-block;
  max-width: 42px;
  min-width: 42px;
  min-height: 24px;
  max-height: 24px;
  background-color: black;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  margin-left: 20px;
}
.switch__icon:before {
  content: '';
  position: absolute;
  left: 0;
  width: 38px;
  height: 20px;
  background-color: black;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scaleX(1);
  transition: all 0.25s linear;
}
.switch__icon:after {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.switch__span {
  font-size: 30px;
  margin-left: 5px;
  font-weight:600;
}







